
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(197, 197, 188);
  border-radius: 20px;
  
}  
.right {
  display: flex;
  font-size: large;
  font-style: Bold;
  gap: 70px;
  justify-content: center;
  padding-right: 50px;
  padding-top: 10px;
  color: rgb(23, 23, 212);
}
a {
  text-decoration: none;  
  color: inherit;         
}
a:hover{
  color: rgb(170, 49, 49);
}




 